#header {
    background-image: url("../images/my_background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;
}

#header .image.avatar {
    width: 8em;
}

body.is-touch #header {
     background-size: cover; 
}

#footer .icons a {
    color: rgba(255, 255, 255, 0.5);
    border-bottom: none;
}

@media screen and (max-width: 980px) {

#header {
    background-image: url("../images/my_background_top.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;
}

#footer {
    background-image: url("../images/my_background_bottom.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom left;
}

}
