#header {
    background-image: url("../images/my_background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;
}

body.is-touch #header {
     background-size: cover; 
}

@media screen and (max-width: 980px) {

#header {
    background-image: url("../images/my_background_top.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;
}

#footer {
    background-image: url("../images/my_background_bottom.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom left;
}

}

#header .image.avatar {
    width: 7em;
}

#footer .icons a {
    border-bottom: none;
}
