{{ "<!-- Footer -->" | safeHTML }}
<footer id="footer">
    <a href="{{ .Site.BaseURL }}" class="signature">
        <img src="{{ .Site.BaseURL }}images/{{ .Site.Params.sidebar.signature }}" alt="Ryan Moodie">
    </a>

    <ul class="copyright">
        {{ range .Site.Params.sidebar.attribution }}
        <li>{{ . | markdownify }}</li>
        {{ end }}
        {{ with .Site.Params.sidebar.copyright }}
        <li>
            Licence: <a rel="license" href="{{ .link }}">{{ .name | markdownify }}</a>
        </li>
    </ul>
    {{ end }}
</footer>

{{ "<!-- Scripts -->" | safeHTML }}
<script src="{{ .Site.BaseURL }}js/jquery.min.js"></script>
<script src="{{ .Site.BaseURL }}js/jquery.poptrox.min.js"></script>
<script src="{{ .Site.BaseURL }}js/skel.min.js"></script>
<script src="{{ .Site.BaseURL }}js/util.js"></script>
<!--[if lte IE 8]><script src="{{ .Site.BaseURL }}js/ie/respond.min.js"></script><![endif]-->
<script src="{{ .Site.BaseURL }}js/main.js"></script>

<!-- {{ template "_internal/google_analytics_async.html" . }} -->

{{ range .Site.Params.custom_js }}
<script src="{{ $.Site.BaseURL }}{{ . }}"></script>
{{ end }}
