{{ define "main" }}
    <h1>Page not found</h1>
    <br>
    <p>Uh-oh, you seem to have taken a wrong turn! It looks like this was the result of either:</p>
    <ul>
        <li>A mistyped URL, or a copy-and-paste mistake</li>
        <li>A broken link on a web page or document or in an email</li>
        <li>Moved or deleted content</li>
    </ul>
    <p>If you were looking for a blog post related to computing, they've moved to a <a href="https://computing-blog.netlify.app/">new site</a>.</p>
    <p>Otherwise, I suggest that you head to my <a href="{{ .Site.BaseURL }}">homepage</a> from here.</p>
{{ end }}
